.Contact_holder{
    position: absolute;
    width: 30%;
    height: 97.5%;
    left: 35%;
    border-radius: 1em;
    border: .1px solid black;
    background-color: rgb(202, 202, 202);
}

@media (max-width:1020px) {
    .Contact_holder{
        width: 50%;
        left: 25%;
    }
}
@media (max-width:500px) {
    .Contact_holder{
        width: 70%;
        left: 15%;
    }
}
@media (max-width:400px) {
    .Contact_holder{
        width: 80%;
        left: 10%;
    }
}