.View_holder{
    position: absolute;
    top: 13%;
    width: 30%;
    height: 65%;
    left: 35%;
    border-radius: 1em;
    border: .1px solid black;
    background-color: rgb(202, 202, 202);
}
.goBackv{
    background: none;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
}
.viewInp{
    background-color: rgb(202, 202, 202);
    border: 0.1px solid black;
    border-radius: 1em;
    margin-left: 2%;
    margin-top: 0;
    width: 93%;
    height: 7.5%;
    font-size: larger;
    padding-left: 2%;
}
h4{
    margin-left: 5%;
}